{{>head}}
<body>
    {{>header}}
    <main>
        <div class="task-list">
            <div class="search-task">
                <form action="/tasks" method="GET">
                    <div class="submit-box">
                        <input type="text" name="search">
                        <button type="submit" class="task-button search">検索</button>
                    </div>
                </form>
            </div>
            {{#if tasks}}    
            {{#each tasks}}
            <div class="task-card">
                <div>
                    <p class="task">Task:{{title}}</p>
                    <p>Deadline:{{deadline}}</p>
                </div>
                <div class="task-button-box">
                    <form action="/tasks/edit/{{id}}" method="GET">
                        <button type="submit" class="task-button">Edit</button>
                    </form>
                    <form action="/tasks/delete/{{id}}" method="POST">
                        <button type="submit" class="task-button">Delete</button>
                    </form>
                </div>
            </div>
            {{/each}}
            {{else}}
            <div class="empty-task">
                NO HIT TASKS
            </div>
            {{/if}}
        </div>
    </main>
</body>
</html>