{{>head}}
<body>
    {{>header}}
    <main>
        <div class="wrapper">
            <div class="search-task">
                {{#if search}}
                <form action="/tasks" method="GET">
                    <div class="submit-box">
                        <input type="text" name="search" value="{{search}}" disabled>
                        <button type="submit" class="button search">Clear</button>
                    </div>
                </form>
                {{else}}
                <form action="/tasks" method="GET" autocomplete="off">
                    <div class="submit-box search">
                        <input type="text" name="search">
                        <div class="search-button">
                            <button type="submit" class="button">Search</button>
                        </div>
                    </div>
                </form>
                {{/if}}
            </div>
            {{#if tasks}}    
            {{#each tasks}}
            <div class="task-card">
                <div>
                    <dl class="task-list">
                        <dt class="dt">Task</dt>
                        <dd class="dd">{{title}}</dd>
                        <dt class="dt">Deadline</dt>
                        <dd class="dd">{{deadline}}</dd>
                    </dl>
                </div>
                <div class="button-box">
                    <form action="/tasks/edit/{{id}}" method="GET">
                        <button type="submit" class="button">Edit</button>
                    </form>
                    <form action="/tasks/delete/{{id}}" method="POST">
                        <button type="submit" class="button">Delete</button>
                    </form>
                </div>
            </div>
            {{/each}}
            {{else}}
            <div class="empty-task">
                NO HIT TASKS
            </div>
            {{/if}}
        </div>
    </main>
    <script type="text/javascript" src="/index.js"></script>
    <script type="text/javascript" src="/task.js"></script>
</body>
</html>